<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="indigo" sequenceNumber="4">
	<locations>
		<location includeAllPlatforms="true" includeMode="slicer" includeSource="false" type="InstallableUnit">
			<unit id="org.eclipse.equinox.executable.feature.group"/>
			<unit id="org.eclipse.platform.sdk"/>
			<unit id="org.eclipse.ui"/>
			<unit id="org.junit"/>
			<!--
			<unit id="org.eclipse.platform.ide" version="3.7.2.M20120208-0800"/>
			-->
			<repository location="http://download.eclipse.org/releases/indigo" />
			<repository location="http://download.eclipse.org/eclipse/updates/3.7" />
		</location>
		<location path="${system_property:target.platform.dir}" type="Directory"/>
	</locations>
</target>
